:root {
    --bg-canvas: #020617;
    --glass-fill: rgba(30, 41, 59, 0.4);
    --glass-border: rgba(255, 255, 255, 0.1);
    --accent-gold: #e2b659;
    --text-primary: #ffffff;
    --text-muted: rgba(255, 255, 255, 0.6);
}

a {
  -webkit-tap-highlight-color: transparent;
    outline: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    
}

.reg-container {
    width: 100%;
    max-width: 400px;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 30px;
    margin-bottom: 24px;
}

.reg-glass-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: rgba(121,141,241,0.04);
    backdrop-filter: blur(12px);
    border: 1px solid #e2b6597c;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4), 0 1px 10px var(--accent-gold-glow);
}

.register {
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 16px;
    width: 100%;
}

.input-group-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    align-items: center;
    text-align: center;
}

.input-group-row label {
    color: var(--text-muted);
    font-size: 13px;
    font-weight: 600;
}

.input-group-row input, select {
    width: 100%;
    background: transparent;
    border: 1px solid var(--glass-border);
    border-radius: 8px;
    padding: 12px 14px;
    color: var(--text-primary);
    font-size: 15px;
    outline: none;
    transition: color 0.3s ease;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 1px 3px var(--accent-gold-glow);
}

.input-group-row textarea {
    height: 100px;
    resize: none;
    background: transparent;
    width: 100%;
    border: 1px solid var(--glass-border);
    border-radius: 8px;
    padding: 12px 14px;
    outline: none;
    transition: color 0.3s ease;
    font-size: 15px;
    margin-bottom: 20px;
    color: var(--text-primary); 
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 1px 3px var(--accent-gold-glow);
}

.input-group-row input:hover,
.input-group-row textarea:hover {
    border: 1px solid var(--accent-gold);
    outline: none;
}

.heading {
    color: var(--accent-gold);
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 20px
}

.submit-btn {
    width: 100%;
    background-color: var(--accent-gold);
    color: var(--bg-canvas);
    font-weight: 700;
    border: none;
    padding: 13px 5px;
    border-radius: 8px;
    font-size: 15px;
    margin-bottom: 10px; 
    cursor: pointer;
    outline: none;
    transition: color 0.3s ease;
}

.submit-btn:hover {
    background: transparent;
    border: 1px solid var(--accent-gold);
    color: var(--accent-gold);
}

select {
    width: 220px;
    padding: 10px;
}